{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
  <script src="/assets/jquery.min.js"></script> 
  <script src="/assets/js/dataTables.min.js"></script>
  <script src="/assets/js/dataTables.select.min.js"></script>
  <script src="/assets/js/dataTables.buttons.min.js"></script>
  <script src="/assets/js/buttons.html5.min.js"></script>
  <script src="/assets/js/buttons.colVis.min.js"></script>
  <script src="/assets/js/buttons.print.min.js"></script>
  <link href="/assets/css/dataTables.dataTables.min.css" media="screen" rel="stylesheet" nonce="{{ cspNonce }}" type="text/css" />
  <link href="/assets/css/buttons.dataTables.min.css" media="screen" rel="stylesheet" nonce="{{ cspNonce }}" type="text/css" />
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
