{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Feedback</h1>

  <table id="feedbackTable" class="stripe">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content Type</th>
        <th>Sentiment</th>
        <th>Comments</th>
        <th>Date / Time</th>
        <th>Categories</th>
        <th>Series</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Title</th>
        <th>Content Type</th>
        <th>Sentiment</th>
        <th>Comments</th>
        <th>Date / Time</th>
        <th>Categories</th>
        <th>Series</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
