{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body chartPage" %}

{% block content %}

  <h1>Feedback</h1>

  <form method="GET" id="dateSelectorWrapper">
    {{ mojDatePicker({
      id: "startDate",
      name: "startDate",
      label: {
        text: "Start date"
      },
      value: startDate,
      hint: {
        text: "For example, 17/5/2024."
      }
    }) }}
    {{ mojDatePicker({
      id: "endDate",
      name: "endDate",
      label: {
        text: "End date"
      },
      value: endDate,
      hint: {
        text: "For example, 17/5/2024."
      }
    }) }}
    {{ govukSelect({
      id: "prison",
      name: "prison",
      label: {
        text: "Prisons"
      },
      items: prisonsDropDown
    }) }}
    <div>
      {{ govukButton({
        id: "changeDates",
        name: "changeDates",
        text: "Update",
        element: "button"
      }) }}
    </div>
  </form>
  <div id="chartWrapper">
    <div id="contentTypeChart" class="chartZone"></div>
    <div id="sentimentChart" class="chartZone"></div>
    <div id="commentBarChart" class="chartZone"></div>
    <div id="commentPieChart" class="chartZone"></div>
  </div>

{% endblock %}

{% block bodyEnd %}
  <script nonce="{{ cspNonce }}">
    const startDate = '{{ startDate }}'
    const endDate = '{{ endDate }}'
    const prison = '{{ prison }}'
    const contentTypeData = {{ contentTypeData | safe }}
    const commentData = {{ commentData | safe }}
    const sentimentData = {{ sentimentData | safe }}
  </script>
  <script src="https://www.gstatic.com/charts/loader.js" nonce="{{ cspNonce }}"></script>
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
