{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{%- from "govuk/components/select/macro.njk" import govukSelect -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Feedback</h1>

  <form method="GET" id="dateSelectorWrapper">
    {{ mojDatePicker({
      id: "startDate",
      name: "startDate",
      label: {
        text: "Start date"
      },
      value: startDate,
      hint: {
        text: "For example, 17/5/2024."
      }
    }) }}
    {{ mojDatePicker({
      id: "endDate",
      name: "endDate",
      label: {
        text: "End date"
      },
      value: endDate,
      hint: {
        text: "For example, 17/5/2024."
      }
    }) }}
    {{ govukSelect({
      id: "prison",
      name: "prison",
      label: {
        text: "Prisons"
      },
      items: prisonsDropDown
    }) }}
    <div>
      {{ govukButton({
        id: "changeDates",
        name: "changeDates",
        text: "Update",
        element: "button"
      }) }}
    </div>
  </form>

  <table id="feedbackTable" class="stripe">
    <thead>
      <tr>
        <th>Title</th>
        <th>Establishment</th>
        <th>Content Type</th>
        <th>Sentiment</th>
        <th>Comments</th>
        <th>Date / Time</th>
        <th>Categories</th>
        <th>Series</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Title</th>
        <th>Establishment</th>
        <th>Content Type</th>
        <th>Sentiment</th>
        <th>Comments</th>
        <th>Date / Time</th>
        <th>Categories</th>
        <th>Series</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script nonce="{{ cspNonce }}">
    const startDate = '{{ startDate }}'
    const endDate = '{{ endDate }}'
    const prison = '{{ prison }}'
  </script>
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
