{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Content Hub Feedback</h1>
  <ul>
    <li><a href="/reports">Tabular view</a></li>
    <li><a href="/reports/charts">Charts view</a></li>
  </ul>

{% endblock %}
